* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #01050c;
    color: #e5e7eb;
}

:root {
    scroll-behavior: smooth;
}

/* Navbar */
nav {
    /* height: 100px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #01050c;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(224, 246, 255, 0.344);
    gap: 30px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    display: inline-block;
    color: #e5e7eb;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #a0c3d2;
    scale: 1.1;
    translate: 3px 0px 3px 0px;
}

.logo {
    color: #a0c3d2;
    font-size: 40px;
}

.btn {
    padding: 12px 25px;
    background: #a0c3d2;
    color: #020617;
    text-decoration: none;
    border-radius: 6px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.btn.outline {
    background: transparent;
    border: 2px solid #a0c3d2;
    color: #a0c3d2;
}

.btn.outline:hover {
    background: #a0c3d2;
    color: #020617;
}

.nav-toggle {
    display: none;
    font-size: 26px;
    color: #a0c3d2;
    cursor: pointer;
}

/* Nav menu wrapper */
.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Home */
.home {
    height: 70vh;
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1s ease-in;

    /* Background image */
    background:
        linear-gradient(rgba(1, 5, 12, 0.95),
            rgba(1, 5, 12, 0.85)),
        url("images/home-bg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home span {
    color: #a0c3d2;
}
.home p {
    font-size: large;
}

.home h1 {
    font-size: 40px;
    text-shadow:
        1px 1px 2px rgb(255, 255, 255),
        0 0 1em #081421,
        0 0 0.2em #081421;
}

.home-btn {
    background: #01050c;
    color: white;
    border: 2px solid #a0c3d2;
}

.home-btn:hover {
    background: #a0c3d2;
    color: #081421;
}

/* Sections */
section {
    padding: 70px 120px;
}

/* Limit width ONLY for content sections */

/* #about,
#projects,
#contact {
    max-width: 1200px;
    margin: 70px 0px;
    border: 2px solid white;
} */

section h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #a0c3d2;
}

section p {
    max-width: 700px;
    line-height: 1.7;
}


/* Skills */
#skills {
    width: 100%;
    margin: auto;

    /* Background image */
    background:
        linear-gradient(rgba(1, 5, 12, 0.85),
            rgba(1, 5, 12, 0.85)),
        url("images/skills-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.skills span {
    display: inline-block;
    background: #0b0210;
    padding: 12px 18px;
    margin: 6px;
    border-radius: 6px;
    border: 1px solid #a0c3d2;
    transition: transform 0.3s, background 0.3s;
}

.skills span:hover {
    transform: translateY(-3px);
    background: #180920;
    cursor: -webkit-grabbing;
}

/* Projects */

/* #projects {
    padding-left: 50px; 
    padding-right: 50px;
    margin: 70px 0px;
} */

.project-card {
    background:
        linear-gradient(rgba(1, 5, 12, 0.75),
            rgba(1, 5, 12, 0.85)),
        url("images/pro-card-bg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-card img {
    border: 2px solid #a0c3d2;
}

.project-card:hover {
    transform: translateY(-5px);
    background: #0b02109d;
    box-shadow: 0 0 10px rgba(224, 246, 255, 0.344);
}

.project-card a {
    color: #a0c3d2;
    text-decoration: none;
}

.project-card p {
    text-align: justify;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: auto;

}

.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}


#about p{
    text-align: justify;

}

/* Contact */
#contact {
    width: 100%;
    margin: auto;

    /* Background image */
    background:
        linear-gradient(rgba(1, 5, 12, 0.95),
            rgba(1, 5, 12, 0.85)),
        url("images/contact-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contact p {
    margin: 10px 0;
}

.socials {
    margin: 15px 0;
}

.socials a {
    font-size: 28px;
    margin-right: 15px;
    color: #a0c3d2;
    transition: transform 0.3s;
}

.socials a:hover {
    transform: scale(1.2);
}

#contact p a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

#contact p a:hover {
    color: #a0c3d2;
    transform: scale(1.5);
    text-shadow: 0.5px 0.5px 0.5px rgb(255, 255, 255)
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


/* Footer */
footer {
    text-align: center;
    padding: 40px;
    background: #081421;
    color: #a0c3d2;
    /* margin-top: 40px; */
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 25px;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #081421;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 25px 0;
        display: none;
    }

    .nav-menu.active {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .nav-buttons {
        flex-direction: column;
        width: 80%;
    }

    .nav-buttons a {
        text-align: center;
    }

    .logo {
        font-size: 28px;
    }

    section {
        padding: 50px 30px;
    }
}

/* Small phones */
@media (max-width: 480px) {
    .logo {
        font-size: 24px;
    }

    .nav-menu {
        top: 60px;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 900px) {
    .logo {
        font-size: 28px;
    }
}